@page "/timecode"

@inject IUnitOfWork Unit

<a href="/timecode/add" class="btn btn-primary mb-4">Добавить</a>

@if (TimeCodes is null)
{
    <p><em>Загрузка...</em></p>
}
else if (TimeCodes.Count == 0)
{
    <p><em>Данных нет</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Видео</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timecode in TimeCodes)
            {
                <tr class="align-middle">
                    <td>@timecode.Id</td>
                    <td>@timecode.IdVideo</td>
                    <td>@timecode.Start</td>
                    <td>@timecode.End</td>
                    <td>
                        <ActionButtons PagePath="timecode" ModelId="@timecode.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TimeCode> TimeCodes;

    protected override async Task OnInitializedAsync()
    {
        TimeCodes = await Unit.TimeCodeRepository.GetAllAsync(true);
    }
}