@page "/timecode"

@using Microsoft.EntityFrameworkCore

@if (TimeCodes is null)
{
    <p><em>Загрузка...</em></p>
}
else if (TimeCodes.Count == 0)
{
    <p><em>Данных нет</em></p>
    <p>
        <a href="/timecode/add" class="btn btn-primary mb-4">Добавить</a>
    </p>
}
else
{
    <a href="/timecode/add" class="btn btn-primary mb-4">Добавить</a>
    <DbIndexLayout Items="@TimeCodes">
        <TableHeader>
            <th>Id</th>
            <th>Id Video</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </TableHeader>
        <RowTemplate Context="timecode">
            <td>@timecode.Id</td>
            <td>@timecode.IdVideo</td>
            <td>@timecode.Start</td>
            <td>@timecode.End</td>
            <td>
                <ActionButtons PagePath="timecode" ModelId="@timecode.Id" />
            </td>
        </RowTemplate>
    </DbIndexLayout>
}

@code {
    private MediaContext _context = new();

    private List<TimeCode> TimeCodes;

    protected override async Task OnInitializedAsync()
    {
        TimeCodes = await _context.TimeCodes.ToListAsync();
    }
}