@page "/author/add"
@page "/author/edit/{AuthorId:int}"

@using Microsoft.EntityFrameworkCore

@inject IUnitOfWork Unit
@inject NavigationManager NavigationManager

<EditForm Model="@Author" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="@Author.Name" />
            <ValidationMessage For="@(() => Author.Name)" />
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Href: </label>
        <div>
            <InputText @bind-Value="@Author.Href" />
            <ValidationMessage For="@(() => Author.Href)" />
        </div>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-primary" type="submit">
            @ButtonText
        </button>
        <a href="/author" class="btn btn-secondary">Назад</a>
    </div>
</EditForm>

@code {
    [Parameter] public int AuthorId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthorId != 0)
        {
            Author = await Unit.AuthorRepository.GetByIdAsync(AuthorId);
            ButtonText = "Edit";
        }
    }
    private Author? Author = new();
    private string ButtonText = "Create";

    private async Task Save()
    {
        if (AuthorId == 0)
        {
            Unit.AuthorRepository.Create(Author);
        }
        else
        {
            Unit.AuthorRepository.Update(Author);
        }
        await Unit.SaveChangesAsync();
        NavigationManager.NavigateTo("author");
    }
}