@using Microsoft.EntityFrameworkCore

<div class="card h-100">
    <div class="card-header">
        <div class="row">
            <div class="col-2 text-center align-self-center border-end border-dark">@Video.Id</div>
            <div class="col-6 border-end border-dark text-center align-self-center">
                <a href="@Video.IdAuthorNavigation.Href" target="_blank">
                    @Video.IdAuthorNavigation.Name
                </a>
            </div>
            <div class="@(Video.TimeCodes.Count > 0 ? "col-2 border-end border-dark" : "col-4") text-center align-self-center">
                <ImageLayout Access="@Video.IncognitoAccess" />
            </div>
            @if (Video.TimeCodes.Count > 0)
            {
                <div class="col-2 text-center align-self-center">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(Video.Id)" aria-expanded="false" aria-controls="collapse@(Video.Id)">
                        <span class="oi oi-list"></span>
                    </button>
                </div>
            }
        </div>
    </div>
    @if (IsLocalImage)
    {
        if (PreviewManager.HasPreview(Video))
        {
            <img src="/images/video-previews/@(Video.Id).jpg" class="card-img-top">
        }
    }
    else
    {
        <img src="@PreviewManager.GetHrefByRes(Video, Resolution)" class="card-img-top">
    }
    <div class="card-body">
        <a href="@Video.Href" target="_blank">
            <span class="card-text">@Video.Title</span>
        </a>
    </div>
    @if (Video.TimeCodes.Count > 0)
    {
        <div class="card-footer">
            <TimeCodeLayout TimeCodes="@Video.TimeCodes" />
        </div>
    }
</div>

@code {
    [Parameter] public Video Video { get; set; }
    [Parameter] public bool IsLocalImage { get; set; } = true;
    [Parameter] public PreviewResolution Resolution { get; set; }
}